@charset "UTF-8";
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000000;


}

.bgimg {

	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url(../images/landinglogotype.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}


img#burger {
	width: 2.5%;
	position: fixed;
	top: 25px;
	right: 40px;
	z-index: 80;
}





/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: #000000;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	.bgimg {
		background-image: url(../images/mobilelanding.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
	}

	img#burger {
		width: 10%;
		position: fixed;
		top: 25px;
		right: 20px;
		z-index: 80;
	}



}
