@charset "UTF-8";
body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000000;

}

.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

img#crib {
	width: 2.5%;
	position: fixed;
	top: 18px;
	left: 40px;
	z-index: 80;
}

h1 {
	font-family: 'Bentley';
	font-size: 4em;
	color: #E779E3;
	text-decoration: none;
	text-align: center;

}

@font-face {
	font-family: 'Bentley';
	src: url('Bentley-Regular.ttf');
}

a {
	font-size: 1.6em;
	font-family: 'Bentley';

}

.nav {
	position: fixed;
	width: 100%;
	height: 10%;
	background-color: rgba(9, 9, 9, 0.9);
	z-index: 2;
	top: 0px;


}

.nav li {
	display: inline-block;
	list-style-type: none;



}

.item {
	margin-left: 200px;


}

.nav a {
	color: #E779E3;
	text-decoration: none;

	display: block;
	float: left;
	text-align: center;
	padding: 0px 80px 0px 80px;
	font-size: 2.5em;

}




.section {
	width: 100%;
	position: relative;
	height: 2800px;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	margin-top: auto;
	padding: 3% 3% 3% 3%;
	box-sizing: border-box;
	margin-bottom: 30px;

}

.row {
	margin-top: 12%;
}

.col-1 {
	position: relative;
	width: 50%;
	float: left;
	margin: 0;
	padding-right: 1.5%;
	padding-left: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
}

.col-2 {
	position: relative;
	width: 50%;
	float: left;
	margin: 0;

	box-sizing: border-box;
	padding-left: 1.5%;
	padding-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;



}

img#movie {
	width: 100%;
}

img#magad {
	width: 100%;
}

img#loan {
	width: 100%;
}

img#titlespread {
	width: 100%;

}

img#corpsea {
	width: 100%;
}





/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}




}
