@charset "UTF-8";
body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000000;

}

@font-face {
	font-family: 'Bentley';
	src: url(../fontsandicons/Bentley-Regular.ttf);
}

@font-face {
	font-family: 'BenchNine1';
	src: url(../fontsandicons/BenchNine-Regular.ttf);
}

@font-face {
	font-family: 'BenchNine2';
	src: url(../fontsandicons/BenchNine-Light.ttf);
}

@font-face {
	font-family: 'BenchNine3';
	src: url(../fontsandicons/BenchNine-Bold.ttf);
}



.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.extra {
	margin-bottom: 1000px;
}

img#crib {
	width: 2.5%;
	position: fixed;
	top: 18px;
	left: 40px;
	z-index: 80;
}

h1 {
	font-family: 'Bentley';
	font-size: 4em;
	letter-spacing: 2px;
	color: #E779E3;
	text-decoration: none;
	text-align: center;
	margin-top: 150px;

}

h2 {
	width: 100%;
	font-family: 'BenchNine3';
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #FEFEFE;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 15px;

}

h3 {
	width: 100%;
	font-size: 1.5em;
	color: #E779E3;
	text-align: left;

}



p {
	width: 100%;
	font-family: 'BenchNine1';
	letter-spacing: .7px;
	height: 125px;
	font-size: 1.2em;
	color: #E779E3;
	margin-top: 0;
	text-align: left;
	display: inline-block;
}

ul {
	width: 100%;
	font-family: 'BenchNine1';
	letter-spacing: .7px;
	height: 125px;
	font-size: 1.2em;
	color: #E779E3;
	margin-top: 0;
	text-align: left;
	display: inline-block;
}


a {
	font-size: 1.6em;
	font-family: 'Bentley';


}

.nav {
	position: fixed;
	width: 100%;
	height: 10%;
	background-color: rgba(9, 9, 9, 0.9);
	z-index: 2;
	top: 0px;


}

.nav li {
	display: inline-block;
	list-style-type: none;



}

.item {
	margin-left: 150px;


}

.nav a {
	color: #E779E3;
	text-decoration: none;
	letter-spacing: .8px;

	display: block;
	float: left;
	text-align: center;
	padding: 3px 80px 0px 80px;
	font-size: 2.5em;

}




.section {
	width: 100%;
	position: relative;
	height: 3000px;
}



.container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	margin-top: 100px;
	padding: 3% 3% 3% 3%;
	box-sizing: border-box;
	margin-bottom: 30px;

}

.row {
	margin-top: 12%;
}

.col-1 {
	position: relative;
	width: 50%;
	float: left;
	margin: 0;
	padding-right: 1.5%;
	padding-left: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
}

.col-2 {
	position: relative;
	width: 50%;
	float: right;
	margin: 0;

	box-sizing: border-box;
	padding-left: 1.5%;
	padding-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;



}

img#movie {
	width: 100%;
}

img#magad {
	width: 100%;
}

img#loan {
	width: 100%;
}

img#titlespread {
	width: 100%;

}

img#corpsea {
	width: 100%;
}

img#ame {
	width: 60%;
	padding-left: 150px;
}

img#f {
	width: 7%;
	margin-top: 8px;
}

img#i {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}

img#t {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}

img#y {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}





/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	img#crib {
		width: 10%;
		position: fixed;
		top: 15px;
		left: 20px;
		z-index: 80;
	}
	.wrapper {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;

	}

	h1 {
		font-family: 'Bentley';
		font-size: 3em;
		padding-top: 80px;
		color: #E779E3;
		text-decoration: none;
		text-align: center;
		margin-top: 70px;

	}
	p {
		width: 50%;
	}
	a {
		font-size: 1.6em;
		font-family: 'Bentley';

	}

	.nav {
		position: fixed;
		width: 100%;
		height: 7%;
		background-color: rgba(9, 9, 9, 0.9);
		z-index: 2;
		top: 0px;


	}

	.nav li {
		display: inline-block;
		list-style-type: none;



	}

	.item {
		margin-left: 30px;


	}

	.nav a {
		color: #E779E3;
		text-decoration: none;

		display: block;
		float: none;
		text-align: center;
		padding: 0px 3px 0px 3px;
		font-size: 1.4em;

	}




	.section {
		width: 100%;
		position: relative;
		height: 3000px;
		margin-top: 20px;
	}

	.container {
		position: relative;
		width: 100%;

		margin: auto;
		padding: 0;
		box-sizing: border-box;


	}

	.row {
		margin: auto;
	}

	.col-1 {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		padding-right: 1%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		box-sizing: border-box;
	}

	.col-2 {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		box-sizing: border-box;



	}

	img#movie {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#magad {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	img#loan {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	img#titlespread {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#corpsea {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}



}
