@charset "UTF-8";
body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #040404;

}

@font-face {
	font-family: 'Bentley';
	src: url(../fontsandicons/Bentley-Regular.ttf);
}

@font-face {
	font-family: 'BenchNine1';
	src: url(../fontsandicons/BenchNine-Regular.ttf);
}

@font-face {
	font-family: 'BenchNine2';
	src: url(../fontsandicons/BenchNine-Light.ttf);
}

@font-face {
	font-family: 'BenchNine3';
	src: url(../fontsandicons/BenchNine-Bold.ttf);
}

/*font-family: 'Open Sans',
sans-serif;*/

.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.extra {
	margin-bottom: 200px;
}



img#burger {
	width: 2.5%;
	position: fixed;
	top: 25px;
	right: 40px;
	z-index: 80;
}

img#crib {
	width: 2.5%;
	position: fixed;
	top: 18px;
	left: 40px;
	z-index: 80;
}

img#next {
	width: 2.5%;
	position: fixed;
	bottom: 18px;
	right: 40px;
	z-index: 80;
}

h1 {
	font-family: 'Bentley';
	font-size: 4em;
	letter-spacing: 2px;
	color: #E779E3;
	text-decoration: none;
	text-align: center;
	margin-top: 150px;

}


h2 {
	width: 100%;
	font-family: 'BenchNine3';
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #FEFEFE;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 15px;

}



h4 {

	width: 100%;
	font-family: 'BenchNine3';
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #FEFEFE;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 0px;
}


p {
	width: 100%;
	font-family: 'BenchNine1';
	letter-spacing: .7px;
	height: 125px;
	font-size: 1.2em;
	color: #E779E3;
	margin-top: 0;
	text-align: left;
	display: inline-block;
}

ul {
	width: 100%;
	font-family: 'BenchNine1';
	letter-spacing: .7px;
	height: 125px;
	font-size: 1.2em;
	color: #E779E3;
	margin-top: 0;
	text-align: left;
	display: inline-block;
}

.nav {
	position: fixed;
	width: 100%;
	height: 10%;

	background-color: rgba(9, 9, 9, 0.9);
	z-index: 2;
	top: 0px;


}

.nav li {
	display: inline-block;
	list-style-type: none;



}

.item {
	margin-left: 150px;


}

.nav a {

	font-family: 'Bentley';
	font-size: 2.5em;
	color: #E779E3;
	text-decoration: none;
	letter-spacing: .8px;

	display: block;
	float: left;
	text-align: center;
	padding: 3px 80px 0px 80px;


}


a {
	margin: 0;
}

.first {
	width: 100%;
	position: relative;
	height: 2600px;
}

.second {
	width: 100%;
	position: relative;
	height: 1300px;
}

.more {
	width: 100%;
	position: relative;
	height: 1300px;
}

.extra {
	width: 100%;
	position: relative;
	height: 100px;
	margin: 0;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	margin-top: 100px;
	padding: 3% 3% 3% 3%;
	box-sizing: border-box;
	margin-bottom: 30px;

}

.texts {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.row {
	margin-top: 12%;
}

.col-1 {
	position: relative;
	width: 50%;
	float: left;
	margin: 0;
	padding-right: 1.5%;
	padding-left: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
}

.col-2 {
	position: relative;
	width: 50%;
	float: right;
	margin: 0;

	box-sizing: border-box;
	padding-left: 1.5%;
	padding-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;



}


.box#ab {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ac {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ad {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ae {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#af {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ag {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ah {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ai {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#aj {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ak {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#al {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#am {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#an {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

.box#ao {

	width: 75%;
	height: 355px;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

/*-------box1----*/

.box#ab {
	transition: all .2s ease-in-out;
	background-image: url(../images/bcthumb.png);
	background-size: cover
}

.box#ab:hover {
	transform: scale(1.1);
	background-image: url(../images/bcthumbb.png);
}

/*-------box2----*/

.box#ac {
	transition: all .2s ease-in-out;
	background-image: url(../images/gwar1.png);
	background-size: cover
}

.box#ac:hover {
	transform: scale(1.1);
	background-image: url(../images/gwarthumbb.png);
}

/*-------box3----*/

.box#ad {
	transition: all .2s ease-in-out;
	background-image: url(../images/hmlthumb1.png);
	background-size: cover
}

.box#ad:hover {
	transform: scale(1.1);
	background-image: url(../images/infothumbb.png);
}

/*-------box4----*/

.box#ae {
	transition: all .2s ease-in-out;
	background-image: url(../images/freddythumb2.png);
	background-size: cover
}

.box#ae:hover {
	transform: scale(1.1);
	background-image: url(../images/freddythumbb.png);
}

/*-------box5----*/

.box#af {
	transition: all .2s ease-in-out;
	background-image: url(../images/jdvisthumbe.png);
	background-size: cover
}

.box#af:hover {
	transform: scale(1.1);
	background-image: url(../images/jvisthumbb.png);
}

/*-------box6----*/

.box#ag {
	transition: all .2s ease-in-out;
	background-image: url(../images/typsythumb.png);
	background-size: cover
}

.box#ag:hover {
	transform: scale(1.1);
	background-image: url(../images/typsythumbb.png);
}

/*-------box7----*/

.box#ah {
	transition: all .2s ease-in-out;
	background-image: url(../images/tractorthumb.png);
	background-size: cover
}

.box#ah:hover {
	transform: scale(1.1);
	background-image: url(../images/tractorthumbb.png);
}

/*-------box8----*/

.box#ai {
	transition: all .2s ease-in-out;
	background-image: url(../images/bentleythumb.png);
	background-size: cover
}

.box#ai:hover {
	transform: scale(1.1);
	background-image: url(../images/bentb.png);
}

/*-------box9----*/

.box#aj {
	transition: all .2s ease-in-out;
	background-image: url(../images/finerthumb.png);
	background-size: cover
}

.box#aj:hover {
	transform: scale(1.1);
	background-image: url(../images/finethumbb.png);
}

/*-------box10----*/

.box#ak {
	transition: all .2s ease-in-out;
	background-image: url(../images/buskerthumb.png);
	background-size: cover
}

.box#ak:hover {
	transform: scale(1.1);
	background-image: url(../images/buskerthumbb.png);
}

/*-------box11----*/

.box#al {
	transition: all .2s ease-in-out;
	background-image: url(../images/waterthumb.png);
	background-size: cover
}

.box#al:hover {
	transform: scale(1.1);
	background-image: url(../images/waterthumbb.png);
}

/*-------box12----*/

.box#am {
	transition: all .2s ease-in-out;
	background-image: url(../images/coheed.png);
	background-size: cover
}

.box#am:hover {
	transform: scale(1.1);
	background-image: url(../images/coheedb.png);
}

/*-------box13----*/

.box#an {
	transition: all .2s ease-in-out;
	background-image: url(../images/mypastthumb.png);
	background-size: cover
}

.box#an:hover {
	transform: scale(1.1);
	background-image: url(../images/jailthumbb.png);
}

/*-------box----*/

.box#ao {

	background-color: #040404;
	background-size: cover
}



/*-------box----*/

img#movie {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#magad {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#loan {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#titlespread {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#corpsea {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#corpse1 {
	width: 100%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#roba {
	width: 100%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#rja {
	width: 100%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#alana {
	width: 100%;
	margin-left: 12.5%;
	margin-right: 6%;
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#wholething {
	width: 100%;
	margin-bottom: 12.5%;
}

img#robb {
	width: 100%;

	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

img#gwarmock {
	width: 100%;

}

img#flat {
	width: 100%;
}

img#ame {
	width: 60%;
	padding-left: 150px;
}

img#f {
	width: 7%;
	margin-top: 8px;
}

img#i {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}

img#t {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}

img#y {
	width: 7%;
	padding-left: 16px;
	margin-top: 8px;
}

.col-2 li {
	width: 60%;
}




/*------------im going crazy-----------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	img#burger {
		width: 6%;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 80;
	}

	img#crib {
		width: 6%;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 80;
	}
	.wrapper {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;

	}


	img#next {
		width: 6%;
		position: fixed;
		bottom: 8px;
		right: 40px;
		z-index: 80;
	}

	h1 {
		font-family: 'Bentley';
		font-size: 3em;
		padding-top: 80px;
		color: #E779E3;
		text-decoration: none;
		text-align: center;
		margin-top: 70px;
		position: relative;

	}
	h2 {
		font-size: 1.1em;
		width: 90%;
		position: relative;
	}
	p {
		width: 100%;
		font-size: 1em;
		line-height: 1.1em;
		position: relative;
		margin-bottom: 0;
	}
	.texts {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 1em;
	}
	a {
		font-size: 1.6em;
		font-family: 'Bentley';

	}

	.nav {
		position: fixed;
		width: 100%;
		height: 7%;
		background-color: rgba(9, 9, 9, 0.9);
		z-index: 2;
		top: 0px;


	}

	.nav li {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;



	}

	.item {
		margin-left: 0px;


	}

	.nav a {
		color: #E779E3;
		text-decoration: none;

		display: block;
		float: none;
		text-align: center;
		padding: 3px 6px 0px 6px;
		font-size: 1.2em;

	}




	.first {
		width: 100%;
		position: relative;
		height: 3000px;
	}

	.second {
		width: 100%;
		position: relative;
		height: 1400px;
	}

	.more {
		width: 100%;
		position: relative;
		height: 1000px;
	}
	.extra {
		width: 100%;
		position: relative;

		margin-bottom: 20px;
	}
	.container {
		position: relative;
		width: 100%;

		margin: auto;
		padding: 0;
		box-sizing: border-box;


	}



	.row {
		margin: auto;
	}

	.col-1 {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		padding-right: 1%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		box-sizing: border-box;
	}

	.col-2 {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		box-sizing: border-box;



	}
	.col-2 li {
		width: 80%;
		font-size: .8em;
		line-height: 1.4em;
	}
	.box#ab {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ac {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	.box#ad {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ae {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#af {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ag {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ah {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	.box#ai {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;



	}

	.box#aj {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ak {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	.box#al {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;



	}

	.box#am {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;



	}

	.box#an {

		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	.box#ao {

		display: none;


	}

	img#movie {
		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#magad {
		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#loan {
		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;

	}

	img#titlespread {
		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#corpsea {
		width: 250px;
		height: 250px;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		margin-bottom: 10%;


	}

	img#ame {
		width: 30%;
		padding: 0;
		margin-left: 35%;
		margin-right: 35%;

	}

}
